Notebook to extract filenames from cat-dog dataset and generate table for pipeline

In [41]:
import pandas as pd
import numpy as np
import glob
import random

from CMP_functions.preprocessing import *

In [20]:
imgs = glob.glob("../data/cat_dog/*.jpg")

In [21]:
len(imgs)

2401

In [24]:
imgs_full = [im.split("/")[-1] for im in imgs]

In [28]:
imgs_name = [im.strip(".jpg") for im in imgs_full]

In [35]:
name = []
cl = []

for i in imgs_name:
    name.append(i)
    cl.append(i.split('.')[0])

In [37]:
df_all = pd.DataFrame()

In [38]:
df_all['im_id']=name
df_all['ft']=cl

In [39]:
df_all

         im_id   ft
0     dog.1753  dog
1      cat.952  cat
2     dog.1035  dog
3      cat.946  cat
4     dog.1021  dog
...        ...  ...
2396  dog.1986  dog
2397   cat.787  cat
2398  dog.1038  dog
2399   cat.793  cat
2400  dog.1992  dog

[2401 rows x 2 columns]

In [40]:
lung = 150
NOT_lung = 586

In [45]:
lung_dog = df_all[df_all.ft=='dog'].sample(lung)

In [47]:
not_lung_cat = df_all[df_all.ft=='cat'].sample(NOT_lung)

In [49]:
df_unbalaced = pd.concat([lung_dog,not_lung_cat])

In [50]:
df_unbalaced

         im_id   ft
1178  dog.1442  dog
1928  dog.1559  dog
875   dog.2159  dog
120   dog.1587  dog
1965  dog.1759  dog
...        ...  ...
1887   cat.147  cat
1250  cat.6138  cat
2095   cat.959  cat
415   cat.6155  cat
2350   cat.426  cat

[736 rows x 2 columns]

In [52]:
df_all.to_csv('dog_cat_table.csv', index=False)
df_unbalaced.to_csv('dog_cat_ub_table.csv', index=False)